// @import 'animations.scss';

// GENERAL

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(var(--font-size-mobile), var(--index), var(--font-size));
  line-height: 35px;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-main);
}

main {
  padding: 4rem 0;

  .button {
    min-width: 18.9rem;
    color: var(--white);
    // all: unset;
    background-color: var(--black);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border: 1px solid var(--red);
    box-shadow: 0 0 4px var(--red-shadow);
    cursor: pointer;
    perspective: 1000px;
    overflow: hidden;
    transition: 0.3s linear all;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: -50%;
    //   right: -50%;
    //   bottom: -50%;
    //   left: -50%;
    //   background: var(--red-sheen);
    //   transform: rotateZ(60deg) translate(-30em, 30em);
    //   animation: sheen 2s var(--ease-elastic-in-1) infinite;
    // }
    &:hover,
    &:focus {
      color: var(--black);
      background-color: var(--gray);
      box-shadow: 1px 1px 15px 0px var(--red);
    }
  }
}
a {
  color: var(--red);
  &:not(.logo) {
    text-transform: uppercase;
  }
}
li::marker {
  font-size: 1.5rem;
}

li[class='nav__item'] {
  position: relative;
  overflow: hidden;
  display: block;
  a {
    padding-inline: 0.5rem;
    display: block;
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 300%;
      height: 1px;
      bottom: 1px;
      left: 50%;
      transform: translateX(75%);
      background-color: var(--red-shadow);
      opacity: 0.25;
      transition: 0.4s linear all;
    }
    &:focus {
      &::after {
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }
  &:hover a::after {
    transform: translateX(-50%);
    opacity: 1;
  }
}
ul,
ul li,
li {
  @media (max-width: 700px) {
    list-style: none;
  }
}

hr {
  height: 1px;
  background-color: var(--red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-accent);
  font-weight: 600;
  letter-spacing: 0.25px;
}
// CLASSES
.section__title {
  font-size: 1.6rem;
}
.article__title {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .mobile-nav {
    display: block;
  }
  .nav__list {
    display: none;
  }
}
